# This file includes global variables that will be available inside your project
# In the app.py file, you can access the variable by importing os and then using print(os.getenv('VARIABLE_NAME'))

CLIENT_ID=1GUn69UYml0QT4wYP20GzwDNh3EP4kwW
CLIENT_SECRET=UT2vF1pFo2uSz8YQNpfUi7k9qEiQVF3C